@model Simpoll.Models.SondageAvecReponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Vote</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-exports.min.js"></script>
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.1.0/css/anychart-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.1.0/fonts/css/anychart-font.min.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
        html, body, #chart {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="jolie">
    <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Sign Out</a>
            </li>
        </ul>
    </nav>
    <header class="container">
        <a href="/Simpoll/CreationUtilisateur"><img src="/Content/simpoll.png" alt="Logo Simpoll" /></a>
    </header>
    <section class="container">
        <div>
            <h1>@Model.Sondage.QuestionSondage</h1>
            <table class="table table-striped table-inverse">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Intitulé du choix</th>
                        <th>Nombre de votes</th>
                        <th>Résultat</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;
                        foreach (var reponse in Model.MesReponses)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                @{
                                    if (reponse.NbVoteReponse <= 1)
                                    {
                                        <td>@reponse.IntituleReponse</td>
                                        <td>@reponse.NbVoteReponse vote</td>
                                        <td>@reponse.GetPourcentage(Model.Sondage) %</td>
                                    }
                                    else
                                    {
                                        <td>@reponse.IntituleReponse</td>
                                        <td>@reponse.NbVoteReponse votes</td>
                                        <td>@reponse.GetPourcentage(Model.Sondage) %</td>
                                    }
                                }
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
            <div>
                @{
                    if (Model.Sondage.NbVotant <= 1)
                    {
                        <p class="p-3 mb-2 bg-light">Il y a @Model.Sondage.NbVotant personne qui a déjà participé</p>
                    }
                    else
                    {
                        <p class="p-3 mb-2 bg-light">Il y a @Model.Sondage.NbVotant personnes qui ont déjà participées</p>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="/Simpoll/CreationUtilisateur" role="button" class="btn btn-block btn-primary">Page d'accueil</a>
            </div>
            <div class="col-lg-8">
            </div>
            <div class="col-lg-2">
                <a href="/Partage/Vote/@Model.Sondage.IdSondage" role="button" class="btn btn-block btn-primary">Votez</></a>
            </div>
        </div>
    </section>
    <div id="chart"></div>
    <script type="text/javascript">
            anychart.onDocumentReady(function () {
                        // create pie chart with passed data
                        var chart = anychart.pie([
                            @foreach(var reponse in Model.MesReponses)
                        {
                             <text>
                    ['@reponse.IntituleReponse', @reponse.GetPourcentage(Model.Sondage)],
                            </text>
                        }
                ]);

                // set chart title text settings
                chart.title('@Model.Sondage.QuestionSondage');
                // set chart labels position to outside
                chart.labels().position('outside');
                // set legend title settings
                chart.legend().title()
                    .enabled(true)
                    .text('Choix de réponse :')
                    .padding([0, 0, 10, 0]);

                // set legend position and items layout
                chart.legend()
                    .position('center-bottom')
                    .itemsLayout('horizontal')
                    .align('center');

                // set container id for the chart
                chart.container('chart');
                // initiate chart drawing
                chart.draw();
            });
    </script>
    <footer></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
