@model Simpoll.Models.SondageAvecReponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Vote</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body class="jolie">
    <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Sign Out</a>
            </li>
        </ul>
    </nav>
    <header class="container">
        <img src="/Content/simpoll.png" alt="Logo Simpoll" />
    </header>
    <section class="container">
        <div class="img-thumbnail">
            <h1>@Model.Sondage.QuestionSondage</h1>
            <table class="table table-striped table-inverse">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Intitulé du choix</th>
                        <th>Nombre de votes</th>
                        <th>Résultat</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;
                    foreach (var reponse in Model.MesReponses)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@reponse.IntituleReponse</td>
                            <td>@reponse.NbVoteReponse votes</td>
                            <td>@reponse.GetPourcentage(Model.Sondage) %</td>
                        </tr>
                    i++;
                }
                    }
                </tbody>
            </table>
            <div>
                <p class="p-3 mb-2 bg-light">Il y a @Model.Sondage.NbVotant personnes qui ont déjà participées au sondage</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="/Simpoll/CreationUtilisateur"><button type="button" class="btn btn-dark">Page d'accueil</button></a>
            </div>
            <div class="col-lg-8">
            </div>
            <div class="col-lg-2">
                <a href="/Partage/Resultat/@Model.Sondage.IdSondage"><button type="button" class="btn btn-dark">Résultats</button></a>
            </div>
        </div>
    </section>
    <footer></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
